# Base de la API
VITE_API_URL=http://localhost:3000/api

# Partidos
VITE_MATCHES_ENDPOINT=/matches

# Opciones de filtros — sincronizadas con la BD
VITE_MODALITIES_ENDPOINT=/modalities
VITE_ZONES_ENDPOINT=/zones
VITE_LEVELS_ENDPOINT=/levels
